<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Domoticz Devices</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card *ngFor="let ip of deviceList">
    <ion-card-content>
      <ion-avatar item-left>
      </ion-avatar>
      <ion-list>
        <ion-item>
          <ion-avatar item-left>
            <img [src]="deviceData[ip].iconurl">
          </ion-avatar>
          <h1>{{ deviceData[ip].roomname}}</h1>
          <p>{{ deviceData[ip].uuid}}</p>
        </ion-item>
      </ion-list>
      <button ion-button full (click)="doToggle(ip)">Play</button>
      <button ion-button full (click)="doToggle(ip)">Stop</button>
      <button ion-button full (click)="doToggle(ip)">Volume UP</button>
      <button ion-button full (click)="doToggle(ip)">Volume Down</button>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="deviceList.length == 0">
    <ion-card-content>
      <h1>No devices found</h1>
    </ion-card-content>
  </ion-card>
</ion-content>
